<div [ngSwitch]="step">
  <div *ngSwitchCase="1">

    <table style="margin-top:10px;">
      <thead>
        <tr>
          <th scope="col" style="width:200px">Nome</th>
          <th scope="col" style="width:200px">Prezzo</th>
          <th scope="col" style="width:200px">Quantità</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of (cartDetails)">
          <td>
            {{d.item.name}}
          </td>
          <td style="float:right;margin-right:5px">
            {{d.item.price}}
          </td>
          <td>
            <input style="width: 50px;float:right;margin-right:5px" min="0" type="number" [(ngModel)]="d.quantity">
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="discount">
      <table>
        <tbody>
          <tr>
            <td style="width:200px">
              {{discount.name}}
            </td>
            <td style="width:200px">
              <span style="float:right;margin-right:5px"> {{discount.value * -1}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="margin-top:10px"> <button (click)="emptyCart()"> Svuota carrello </button> </div>

    <div style="margin-top:10px">
      <input placeholder="Inserisci codice sconto" #inp /> <button style="margin-left:10px"
        (click)="getDiscount(inp.value)" > APPLICA</button>
    </div>

    <div style="margin-top:10px">
      <button (click)="calculateSummary()"> CALCOLA</button>
    </div>
  </div>

  <div *ngSwitchCase="2">

    <table style="margin-top:10px;">
      <thead>
        <tr>
          <th scope="col" style="width:200px">Nome</th>
          <th scope="col" style="width:200px">Prezzo</th>
          <th scope="col" style="width:200px">Quantità</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of (cartDetails)">
          <td>
            {{d.item.name}}
          </td>
          <td style="float:right;margin-right:5px">
            {{d.item.price}}
          </td>
          <td>
            <span style="float:right;margin-right:5px">{{d.quantity}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <table>
        <tbody>
          <tr *ngIf="discount">
            <td style="width:200px">
              {{discount.name}}
            </td>
            <td style="width:200px">
              <span style="float:right;margin-right:5px"> {{discount.value * -1}}</span>
            </td>
          </tr>
          <tr>
            <td style="width:200px">
              TOTALE
            </td>
            <td style="width:200px">
              <span style="float:right;margin-right:5px"> {{cartSummary.totalPrice}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="margin-top:10px">
      <button (click)="saveOrder()"> CONFERMA E PAGA</button>
    </div>

  </div>

  <div *ngSwitchCase="3">

    <span> ID ordine: {{orderId}}</span>

    <div style="margin-top:10px">
    <div style="display: inline-block;">
      <div style="margin-top:10px">
        <select [(ngModel)]="paymentMode">
          <option *ngFor="let payment of cartSummary.availablePaymentModes">
            {{payment}}</option>
        </select>

        <button [disabled]="paid || !paymentMode" style="margin-left: 10px;" (click)="payOrder()"> PAGA</button>
      </div>
      </div>

    </div>

  </div>

</div>
