<div [ngSwitch]="step">
  <div *ngSwitchCase="1">

    <table style="margin-top:10px;">
      <thead class="text-primary font-weight-bold">
        <tr>
          <th scope="col" style="width:200px">Nome</th>
          <th scope="col" style="width:200px">Prezzo</th>
          <th scope="col" style="width:200px">Quantità</th>
        </tr>
      </thead>
      <tbody class="shadow">
        <tr *ngFor="let d of (cartDetails)">
          <td>
            {{d.item.name}}
          </td>
          <td style="float:right;margin-right:5px">
            {{d.item.price}}
          </td>
          <td>
            <input style="width: 50px;float:right;margin-right:5px" min="0" type="number" [(ngModel)]="d.quantity">
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="emptyCart()"> Svuota carrello </button>

    <div *ngIf="discount">
      <table>
        <tbody class="shadow">
          <tr>
            <td style="width:200px">
              {{discount.name}}
            </td>
            <td style="width:200px">
              <span style="float:right;margin-right:5px"> {{discount.value * -1}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <input placeholder="Inserisci codice sconto" #inp /> <button (click)="getDiscount(inp.value)"> APPLICA</button>

    <div>
      <button (click)="calculateSummary()"> CALCOLA</button>
    </div>
  </div>

  <div *ngSwitchCase="2">
    <p> Totale: {{cartSummary.totalPrice}} </p>

    <div>
      <button (click)="saveOrder()"> CONFERMA E PAGA</button>
    </div>

  </div>

  <div *ngSwitchCase="3">

    <select [(ngModel)]="paymentMode">
      <option *ngFor="let payment of cartSummary.availablePaymentModes">
        {{payment}}</option>
    </select>

    <div>
      <button (click)="payOrder()"> PAGA</button>
    </div>

  </div>

</div>
